In [16]:

import numpy as np
import cv2
import time
import pandas as pd
import functools


frame = cv2.imread("../../ca2.png")
frame = cv2.cvtColor(frame, cv2.COLOR_BGR2GRAY)
ret, frame = cv2.threshold(frame, 127, 255, cv2.THRESH_BINARY)
frame = frame.transpose()[:, ::-1]
frame = pd.DataFrame(frame)

frame = frame.astype("int64")
frame_d = frame.diff()

In [4]:
diff_index = frame_d.index[frame_d.abs() == 255]
for d in diff_index:
    print(frame_d[d])

-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0
-255.0
255.0

In [52]:
frame_d[frame_d.abs() == 255].dropna(axis=1, how="all")
# frame_d[:, [1]]
# diff_index = frame_d.index[frame_d.abs() == 255]
# diff_index = frame_d.index[]
# diff_index[diff_index > 20]

         0      1      2      3      4
0      NaN    NaN    NaN    NaN    NaN
1    255.0    NaN  255.0    NaN    NaN
2      NaN    NaN    NaN    NaN    NaN
3      NaN    NaN    NaN    NaN    NaN
4      NaN    NaN    NaN    NaN    NaN
5   -255.0 -255.0 -255.0 -255.0 -255.0
6      NaN    NaN    NaN    NaN    NaN
7      NaN    NaN    NaN    NaN    NaN
8      NaN    NaN    NaN    NaN    NaN
9    255.0  255.0  255.0  255.0  255.0
10     NaN    NaN    NaN    NaN    NaN
11  -255.0 -255.0 -255.0 -255.0 -255.0
12     NaN    NaN    NaN    NaN    NaN
13     NaN    NaN    NaN    NaN    NaN
14     NaN    NaN    NaN    NaN    NaN
15   255.0  255.0  255.0  255.0  255.0
16     NaN    NaN    NaN    NaN    NaN
17  -255.0 -255.0 -255.0 -255.0 -255.0
18     NaN    NaN    NaN    NaN    NaN
19     NaN    NaN    NaN    NaN    NaN
20     NaN    NaN    NaN    NaN    NaN
21     NaN    NaN    NaN    NaN    NaN
22     NaN    NaN    NaN    NaN    NaN
23     NaN  255.0    NaN    NaN    NaN
24   255.0    NaN  255.0  255.0    NaN
25     NaN    NaN    NaN    NaN  255.0
26     NaN    NaN    NaN    NaN    NaN
27     NaN    NaN    NaN    NaN    NaN
28     NaN    NaN    NaN    NaN    NaN
29  -255.0 -255.0 -255.0 -255.0 -255.0
..     ...    ...    ...    ...    ...
87     NaN    NaN    NaN    NaN    NaN
88     NaN    NaN    NaN    NaN    NaN
89   255.0  255.0  255.0  255.0  255.0
90     NaN    NaN    NaN    NaN    NaN
91     NaN    NaN    NaN    NaN    NaN
92     NaN    NaN    NaN    NaN    NaN
93     NaN    NaN    NaN    NaN    NaN
94     NaN    NaN    NaN    NaN    NaN
95  -255.0 -255.0 -255.0 -255.0 -255.0
96     NaN    NaN    NaN    NaN    NaN
97     NaN    NaN    NaN    NaN    NaN
98     NaN    NaN    NaN    NaN    NaN
99     NaN    NaN    NaN    NaN    NaN
100    NaN    NaN    NaN    NaN    NaN
101    NaN    NaN    NaN    NaN    NaN
102    NaN    NaN    NaN    NaN    NaN
103    NaN    NaN    NaN    NaN    NaN
104    NaN  255.0    NaN  255.0    NaN
105  255.0    NaN  255.0    NaN  255.0
106    NaN    NaN    NaN    NaN    NaN
107 -255.0 -255.0 -255.0 -255.0 -255.0
108    NaN    NaN    NaN    NaN    NaN
109    NaN    NaN    NaN    NaN    NaN
110  255.0  255.0    NaN    NaN    NaN
111    NaN    NaN  255.0  255.0  255.0
112    NaN    NaN    NaN    NaN    NaN
113    NaN    NaN    NaN    NaN    NaN
114    NaN    NaN    NaN    NaN    NaN
115    NaN    NaN    NaN    NaN    NaN
116    NaN    NaN    NaN    NaN    NaN

[117 rows x 5 columns]